.floating-button-newsletter {
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #d1000080;
}

@keyframes pulse {
  70% {
    box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
  }
}
