@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.insta-user {
  transition: 0.1s;
  font-family: "Inter", sans-serif !important;
}

.insta-user:hover {
  opacity: 0.5;
}
