.community-page {
  width: 100%;
  height: 100dvh;
  background: url("../../assets/img/sectionsBackground/beginBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  position: relative;
  transition: 0.2s;
}

.back-button {
  cursor: pointer;
  background-color: #f8f8f8;
  transition: 0.2s;
}

.back-button:hover {
  background-color: #d7d7d7;
}

.brightness-animation {
  animation: brightnessAnimation 1s ease-in forwards;
}

@keyframes brightnessAnimation {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.3);
  }
}
