.error-page {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/sectionsBackground/beginBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  position: relative;
}