.newsletter-section {
  width: 100%;
  background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.78) 0%,
      rgba(8, 10, 11, 0.9) 67.7%
    ),
    url("../../assets/img/sectionsBackground/10.webp");
  background-size: cover;
  border-bottom: 0.1rem solid #fff;
}

.subscribe-now-btn {
  cursor: pointer;
  border-width: 0;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  font-size: 16px;
  box-shadow: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.subscribe-now-btn:hover {
  background-color: var(--hover-primary-color);
}

.subscribe-now-btn:active {
  background-color: var(--active-primary-color);
}
