.store-section {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.78) 0%,
      rgba(8, 10, 11, 0.9) 67.7%
    ),
    url("../../../public/2.png");
  background-size: cover;
  background-position-y: 50%;
  border-bottom: 0.1rem solid #fff;
}